name: asan_clang_16

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y clang-16 lld cmake python3 python3-pip
        sudo ln -sf /usr/bin/python3 /usr/bin/python

    - name: Verify installations
      run: |
        clang --version
        python --version

    - name: Configure project with Clang and ASAN
      run: cmake -B build \
        -D CMAKE_BUILD_TYPE=Debug \
        -D CMAKE_CXX_COMPILER=clang++-16 \
        -D CMAKE_C_COMPILER=clang-16 \
        -D WithASAN=ON \
        -D BUILD_WITH_DIAGNOSTICS=ON

    - name: Build
      run: cmake --build build

    - name: Run Unit Tests
      run: ./build/test/tinycoro_tests --gtest_repeat=1 --gtest_break_on_failure=1

    - name: Run Examples
      run: ./build/tinycoro_example

    - name: Run Echo Server and Stress Test
      run: |
        ./build/example/echo_server_example/tinycoro_echo_server &
        python ./example/echo_server_example/echo_server_stress_test.py 1000 true &
        wait