name: linux

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [GCC-11, GCC-12, GCC-13, GCC-14, GCC-15, Clang-16, Clang-17, Clang-18, Clang-19, Clang-20]
        build_type: [Debug, Release]

        include:
          - compiler: GCC-11
            cxx: g++-11
            install: |
              brew install gcc@11 ninja
              brew link --force binutils
          - compiler: GCC-12
            cxx: g++-12
            install: |
              brew install gcc@12 ninja
              brew link --force binutils
          - compiler: GCC-13
            cxx: g++-13
            install: |
              brew install gcc@13 ninja
              brew link --force binutils
          - compiler: GCC-14
            cxx: g++-14
            install: |
              brew install gcc@14 ninja
              brew link --force binutils
          - compiler: GCC-15
            cxx: g++-15
            install: |
              brew install gcc@15 ninja
              brew link --force binutils
          - compiler: Clang-16
            cxx: $(brew --prefix llvm@16)/bin/clang++
            install: |
              brew install llvm@16 ninja
              brew link --force binutils
          - compiler: Clang-17
            cxx: $(brew --prefix llvm@17)/bin/clang++
            install: |
              brew install llvm@17 ninja
              brew link --force binutils
          - compiler: Clang-18
            cxx: $(brew --prefix llvm@18)/bin/clang++
            install: |
              brew install llvm@18 ninja
              brew link --force binutils
          - compiler: Clang-19
            cxx: $(brew --prefix llvm@19)/bin/clang++
            install: |
              brew install llvm@19 ninja
              brew link --force binutils
          - compiler: Clang-20
            cxx: $(brew --prefix llvm@20)/bin/clang++
            install: |
              brew install llvm@20 ninja
              brew link --force binutils

              
    steps:
    - uses: actions/checkout@master
      with:
        submodules: true

    - name: Set up Homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Create Build Environment
      run: |
        ${{matrix.install}}
        cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      working-directory: ${{runner.workspace}}/build
      run: |
        cmake -GNinja -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_CXX_COMPILER=${{matrix.cxx}} \
              $GITHUB_WORKSPACE
              
    - name: Build
      working-directory: ${{runner.workspace}}/build
      run: cmake --build .

    - name: Run Unit Tests
      timeout-minutes: 20
      working-directory: ${{runner.workspace}}/build
      run: ./test/tinycoro_tests --gtest_repeat=3 --gtest_break_on_failure=1

    - name: Run Examples
      working-directory: ${{runner.workspace}}/build
      run: ./tinycoro_example

    - name: Run echo server and stress test
      working-directory: ${{runner.workspace}}/build
      run: |
        ./example/echo_server_example/tinycoro_echo_server &
        python $GITHUB_WORKSPACE/example/echo_server_example/echo_server_stress_test.py 1000 true &
        wait
